# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.bundle

# Ruby
Gemfile.lock
*.gem

# Build outputs
dist
build
out
node_modules

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp
*.swo
*~

# Temp
.temp
tmp
